[submodule "hw/hw_01"]
	path = hw/hw_01
	url = git@github.com:andrew-chang-dewitt/cs_451-hw_01-getting_started.git
[submodule "hw/hw_02"]
	path = hw/hw_02
	url = git@github.com:andrew-chang-dewitt/cs_451-hw_02.git
[submodule "hw/hw_03"]
	path = hw/hw_03
	url = git@github.com:andrew-chang-dewitt/cs_451-hw_03-multithreading.git
[submodule "prj"]
	path = prj
	url = git@github.com:andrew-chang-dewitt/cs_451-prj
[submodule "resources/hashtray"]
	path = resources/hashtray
        # url = git@gitlab.com:andrew-chang-dewitt/hashtray.git
        # fixes breaking build in cloning hashtray w/ ssh link above
	url = https://gitlab.com/andrew-chang-dewitt/hashtray.git
[submodule "hw/hw_04"]
	path = hw/hw_04
	url = git@github.com:andrew-chang-dewitt/cs_451-hw_04-berkeley_sockets.git
