/*
@font-face {
  font-family: "Cascadia Code";
  src: url("../fonts/CascadiaCode.woff2") format("woff2");
  font-display: block;
}
@font-face {
  font-family: "Cascadia Code";
  src: url("../fonts/CascadiaCodeItalic.woff2") format("woff2");
  font-style: italic;
  font-display: block;
}
*/
/* cascadia-code-latin-wght-normal */
@font-face {
  font-family: "Cascadia Code Variable";
  font-style: normal;
  font-display: swap;
  font-weight: 200 700;
  src: url(@fontsource-variable/cascadia-code/files/cascadia-code-latin-wght-normal.woff2)
    format("woff2-variations");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212,
    U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Variable_wght.woff2") format("woff2");
  font-display: block;
}
@font-face {
  font-family: "Montserrat Italic";
  src: url("../fonts/Montserrat-Italic-Variable_wght.woff2") format("woff2");
  font-display: block;
}

:root {
  --fonts-family-serif: "Cascadia Code Variable", serif;
  --fonts-family-sans: Montserrat, sans-serif;
  --fonts-family-sans-italic: "Montserrat Italic", italic;
  --fonts-family-mono: "Cascadia Code Variable", monospace;

  --fonts-size-tiny: 0.6rem;
  --fonts-size-small: 0.75rem;
  --fonts-size-regular: 1rem;
  --fonts-size-regular-medium: 1.25rem;
  --fonts-size-medium: 1.75rem;
  --fonts-size-large: 2.25rem;
  --fonts-size-extra-large: 3rem;
  --fonts-size-huge: 3.5rem;

  --fonts-weight-sans-normal: 400;
  --fonts-weight-sans-normal-bold: 500;
  --fonts-weight-sans-semi-bold: 600;
  --fonts-weight-serif-normal: var(--fonts-weight-sans-normal);
  --fonts-weight-serif-normal-bold: 500;
  --fonts-weight-serif-semi-bold: 600;
  --fonts-weight-serif-bold: 700;
  --fonts-weight-mono-semi-bold: 600;
  --fonts-weight-mono-regular: 400;
  --fonts-weight-mono-light: 300;

  font-size: 16px;
}
@media screen and (max-width: env(--layout-screen-small)) {
  :root {
    font-size: 14px;
  }
}
@media print {
  :root {
    --fonts-size-tiny: 6pt;
    --fonts-size-small: 8pt;
    --fonts-size-regular: 10pt;
    --fonts-size-regular-medium: 12pt;
    --fonts-size-medium: 14pt;
    --fonts-size-large: 16pt;
    --fonts-size-extra-large: 20pt;
    --fonts-size-huge: 24pt;
    font-size: 10px;
  }
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --fonts-weight-sans-normal: 425;
    --fonts-weight-sans-normal-bold: 525;
    --fonts-weight-sans-semi-bold: 600;
  }
}
